<!DOCTYPE html>
<html>
  <head>
    <title>Parametros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Recebendo Objeto Info</h1>
    <p>Welcome to <%= titulo %></p> <!--trazendo a informação do titulo do objeto "info"-->

    <br>
    <!--aqui ele vai receber o objeto "info", apesar de enviar um objeto "info", ele recebe todas propriedades do objeto-->
    <%= cursos %>
      
  </body>
</html>
